.notfound {
  margin-top: 16rem;
  text-align: center;

  &__heading {
    font-size: 6.2rem;
    opacity: 0.7;
    font-weight: 200;
    margin-bottom: 4rem;
  }

  &__paragraph {
    font-size: 1.8rem;
    margin-bottom: 14rem;
  }
}
